:root{
    --color-primario: #fff;
    --color-secundario: rgb(60, 67, 71);
    --color-seleccionado: #3081b8;

    --color-background-container: #283035;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: var(--color-background-container);
}

.border{
    border: 1px solid red;
}

#tools li i{
    font-size: 18px;
}

#containerDataTable{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-background-container);
    color: var(--color-primario);
    border-radius: 5px;
    display: table;
    width: 100%;
    margin: 0 auto;
}

#headerTools{
    border-bottom: 1px solid var(--color-secundario);
    padding: 12px;
    display: flex;
    align-items: baseline;
}

#headerTools #search{
    width:15%;
}

#headerTools #search #inputGroup{
    position: relative;
}

#headerTools #search #inputGroup i{
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    left: 3px; 
    height: 30px;
    width: 30px;
    border-right: 1px solid var(--color-background-container);
}

#headerTools #search #searchInput {
    width: 90%;
    height: 30px;
    background-color: var(--color-secundario);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px var(--color-secundario);
    color: var(--color-primario);
    padding-left: 37px;
}

#headerTools #search #searchInput{
    outline: var(--color-secundario);
}

#headerTools #tools{
    width: 85%;
}

#headerTools #tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

#headerTools #tools li{
    list-style: none;
}

#footerTools{
    padding: 12px;
    display: flex;
    align-items: baseline;
}

#footerTools #listItems{
   width: 50%;
}

#footerTools #pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

#footerTools #pages ul{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#footerTools #pages ul li{
    display: inline-block;
    margin: 0 2px;
}

#footerTools #pages a , #headerTools #tools button {
    color: var(--color-primario);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    outline: none;
}

#footerTools #pages a,#footerTools #pages a:link,#footerTools #pages a:visited,#footerTools #pages a:active{
    text-decoration: none;
}

#footerTools select{
	font-size: 1em;
	color: #fff;
    border-radius: 5px;
    background: transparent;
}

#footerTools select option{
	font-size: 1em;
	color: #fff;
    background: var(--color-background-container);
}

#footerTools select:focus{
     outline: none;
}

#footerTools #pages a:hover , #headerTools #tools button:hover {
   color: var(--color-primario);
   background: var(--color-seleccionado);
}

#footerTools #pages ul li a.active {
    border-radius: 4px;
    background-color: var(--color-seleccionado);
 }

 #footerTools #pages a , #headerTools #tools button  {
    padding: 6px 12px;
 }

  #dataTable{
    border-collapse: collapse;
    width: 100%;
 }

  #containerDataTable #dataTable th, #containerDataTable #dataTable td{
     padding: 12px;
 } 

  #containerDataTable #dataTable th{
     font-weight: bolder;
     text-align: left;
     border-bottom: 1px solid var(--color-secundario);
 }

 #containerDataTable #dataTable td{
    border-bottom: 1px solid var(--color-secundario);
}

#containerDataTable #dataTable tbody tr:nth-child(even){
    background-color: var(--color-secundario);
}

#containerDataTable #dataTable tbody tr:hover{
    background-color: var(--color-seleccionado);
}  

@media screen and (max-width: 600px){
    #headerTools #search{
        width: 40%;
    }
    thead{
      display: none;
    }
  
    td{
      display: block;
    }

    #containerDataTable #dataTable tbody tr:nth-child(even) td:nth-child(n+3){
        border: 1px solid var(--color-background-container);
    } 

    #containerDataTable #dataTable tbody tr:nth-child(even) td:nth-child(3){
        border-top: none;
    } 
    
    #containerDataTable #dataTable td:first-child{
        display: inline-block;
        margin-right: -18px;
        width: 45%;
        border-bottom: none;
    }

    #containerDataTable #dataTable td:nth-child(2){
      text-align: left;
      display: inline-block;
      width:45%;
      border-bottom: none;
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
    }
  
    td:nth-child(3)::before{
      content: "Apellido";
    }
  
    td:nth-child(4)::before{
      content: "Direccion";
    }
  
    td:nth-child(5)::before{
      content: "Localidad";
    }

    td:nth-child(6)::before{
        content: "Numero telefonico";
      }

    td:nth-child(7)::before{
        content: "Email";
    }
  
    td{
      text-align: right;
    }
  
    td::before{
      float: left;
      margin-right: 3rem;
      font-weight: bold;
    }
    #footerTools{
        height: 30px;
    }
    #footerTools #pages ul li{
       position: relative;
       top: 5px;
    }
  }

  @media screen and (max-width: 400px){
    #headerTools #search{
        width: 70%;
        position: relative;
        left: 20px;
        bottom: 5px;
    }
    #footerTools{
        height: 30px;
    }
    #footerTools #pages ul li{
       position: relative;
       top: 5px;
    }
    #containerDataTable #dataTable input[type="checkbox"]{
        width: 1.3em;
        height: 1.3em;
        background-color: var(--color-background-container);
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
    #containerDataTable #dataTable input[type="checkbox"]:checked{
        background-color: #ddd;
    }
}